FORMAT: 1A
HOST: http://bisqit.ru/api/

# Bisqit API
Документация по API сайта http://bisqit.ru/

# Group Методы работы с информацией по ЕГРЮЛ/ЕГРИП

## POST /api/get
Запрос ЕГРЮЛ/ЕГРИП
+ Parameters
    + inn (number) ... инн юридического лица или индивидуального предпринимателя
+ Response 200 (application/json)
выписка ЕГРЮЛ/ЕГРИП
    + Body
        {"date_last_update":"2016-02-12","inn":"352700029778","ogrnip":"304353724000051","date_ogrnip":"2004-08-27","vid_ip_code":"1","vid_ip_name":"\u0418\u043d\u0434\u0438\u0432\u0438\u0434\u0443\u0430\u043b\u044c\u043d\u044b\u0439 \u043f\u0440\u0435\u0434\u043f\u0440\u0438\u043d\u0438\u043c\u0430\u0442\u0435\u043b\u044c","data_zapisi_fl":"2004-08-27","fl_grnip":"304353724000051","fl_pol":"1","fl_familiya_kir":"\u0411\u0443\u0440\u043b\u0430\u043a\u043e\u0432","fl_imya_kir":"\u0412\u044f\u0447\u0435\u0441\u043b\u0430\u0432","fl_othchestvo_kir":"\u041d\u0438\u043a\u043e\u043b\u0430\u0435\u0432\u0438\u0447","fl_data_rogdeniya":"1970-04-17","fl_mesto_rogdeniya":"\u0433.\u0421\u043e\u043a\u043e\u043b \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438","data_zapisi_gragdantstvo":"2004-08-27","gragdantstvo_grnip":"304353724000051","gragdantstvo_vid":"1","gragdantstvo_oksm":"127","gragdantstvo_strana":"\u0420\u041e\u0421\u0421\u0418\u042f","data_zapisi_address":"2004-08-27","address_grnip":"304353724000051","address_rf_full":"162130, \u0412\u041e\u041b\u041e\u0413\u041e\u0414\u0421\u041a\u0410\u042f \u041e\u0411\u041b, \u0413. \u0413, \u0423\u041b \u0421\u041e\u0412\u0415\u0422\u0421\u041a\u0410\u042f, \u0434\u043e\u043c 111a, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430 48","address_rf_code":"350170010000010","data_zapisi_registraziya":"2015-03-21","registraziya_code":"0","registraziya_name":"","registraziya_reg_organ_code":"3525","registraziya_reg_organ_name":"\u041c\u0435\u0436\u0440\u0430\u0439\u043e\u043d\u043d\u0430\u044f \u0438\u043d\u0441\u043f\u0435\u043a\u0446\u0438\u044f \u0424\u0435\u0434\u0435\u0440\u0430\u043b\u044c\u043d\u043e\u0439 \u043d\u0430\u043b\u043e\u0433\u043e\u0432\u043e\u0439 \u0441\u043b\u0443\u0436\u0431\u044b \u2116 11 \u043f\u043e \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438","data_zapisi_registraziya_ip":"2004-08-27","date_registraziya_ip":"2004-08-27","registraziya_ip_grnip":"","registraziya_ip_number":"","registraziya_ip_reg_organ_name":"\u041c\u0435\u0436\u0440\u0430\u0439\u043e\u043d\u043d\u0430\u044f \u0438\u043d\u0441\u043f\u0435\u043a\u0446\u0438\u044f \u041c\u0438\u043d\u0438\u0441\u0442\u0435\u0440\u0441\u0442\u0432\u0430 \u0420\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u043e\u0439 \u0424\u0435\u0434\u0435\u0440\u0430\u0446\u0438\u0438 \u043f\u043e \u043d\u0430\u043b\u043e\u0433\u0430\u043c \u0438 \u0441\u0431\u043e\u0440\u0430\u043c \u2116 9 \u043f\u043e \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438","data_zapisi_uchet_norgan":"2006-01-23","data_postanovki_uchet_norgan":"1997-01-17","data_snyatiya_uchet_norgan":"0000-00-00","uchet_norgan_grnip":"406353702301300","uchet_norgan_organ_code":"3537","uchet_norgan_organ_name":"\u041c\u0435\u0436\u0440\u0430\u0439\u043e\u043d\u043d\u0430\u044f \u0438\u043d\u0441\u043f\u0435\u043a\u0446\u0438\u044f \u0424\u0435\u0434\u0435\u0440\u0430\u043b\u044c\u043d\u043e\u0439 \u043d\u0430\u043b\u043e\u0433\u043e\u0432\u043e\u0439 \u0441\u043b\u0443\u0436\u0431\u044b \u2116 9 \u043f\u043e \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438","data_zapisi_pf":"2006-05-22","date_registrazii_uchet_pf":"1993-11-23","data_snyatiya_uchet_pf":"0000-00-00","uchet_pf_grnip":"406353714209452","uchet_pf_reg_number":"045026003019","uchet_pf_organ_code":"045026","uchet_pf_organ_name":"\u0413\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u0435\u043d\u043d\u043e\u0435 \u0443\u0447\u0440\u0435\u0436\u0434\u0435\u043d\u0438\u0435 - \u0423\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u041f\u0435\u043d\u0441\u0438\u043e\u043d\u043d\u043e\u0433\u043e \u0444\u043e\u043d\u0434\u0430 \u0420\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u043e\u0439 \u0424\u0435\u0434\u0435\u0440\u0430\u0446\u0438\u0438 \u0432 \u0433.\u0421\u043e\u043a\u043e\u043b \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438","deystv_records":[{"grnip":"304353724000051","date_zapis":"2004-08-27","vid_code":"21111","vid_name":"(\u042027001) \u0412\u043d\u0435\u0441\u0435\u043d\u0438\u0435 \u0441\u0432\u0435\u0434\u0435\u043d\u0438\u0439 \u043e\u0431 \u0418\u041f, \u0437\u0430\u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u043e\u043c \u0434\u043e 01.01.2004","reg_organ_code":"3537","reg_organ_name":"\u041c\u0435\u0436\u0440\u0430\u0439\u043e\u043d\u043d\u0430\u044f \u0438\u043d\u0441\u043f\u0435\u043a\u0446\u0438\u044f \u041c\u0438\u043d\u0438\u0441\u0442\u0435\u0440\u0441\u0442\u0432\u0430 \u0420\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u043e\u0439 \u0424\u0435\u0434\u0435\u0440\u0430\u0446\u0438\u0438 \u043f\u043e \u043d\u0430\u043b\u043e\u0433\u0430\u043c \u0438 \u0441\u0431\u043e\u0440\u0430\u043c \u2116 9 \u043f\u043e \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438","svidetelstva":[{"grnip":"304353724000051","date_zapis":"2016-01-11","seriya":"35","number":"00938703"}]},{"grnip":"406353702301300","date_zapis":"2006-01-23","vid_code":"23200","vid_name":"\u0412\u043d\u0435\u0441\u0435\u043d\u0438\u0435 \u0441\u0432\u0435\u0434\u0435\u043d\u0438\u0439 \u043e\u0431 \u0443\u0447\u0435\u0442\u0435 \u0432 \u043d\u0430\u043b\u043e\u0433\u043e\u0432\u043e\u043c \u043e\u0440\u0433\u0430\u043d\u0435","reg_organ_code":"3537","reg_organ_name":"\u041c\u0435\u0436\u0440\u0430\u0439\u043e\u043d\u043d\u0430\u044f \u0438\u043d\u0441\u043f\u0435\u043a\u0446\u0438\u044f \u0424\u0435\u0434\u0435\u0440\u0430\u043b\u044c\u043d\u043e\u0439 \u043d\u0430\u043b\u043e\u0433\u043e\u0432\u043e\u0439 \u0441\u043b\u0443\u0436\u0431\u044b \u2116 9 \u043f\u043e \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438"},{"grnip":"406353714209452","date_zapis":"2006-05-22","vid_code":"23300","vid_name":"\u0412\u043d\u0435\u0441\u0435\u043d\u0438\u0435 \u0441\u0432\u0435\u0434\u0435\u043d\u0438\u0439 \u043e \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438 \u0432 \u041f\u0424 \u0420\u0424","reg_organ_code":"3537","reg_organ_name":"\u041c\u0435\u0436\u0440\u0430\u0439\u043e\u043d\u043d\u0430\u044f \u0438\u043d\u0441\u043f\u0435\u043a\u0446\u0438\u044f \u0424\u0435\u0434\u0435\u0440\u0430\u043b\u044c\u043d\u043e\u0439 \u043d\u0430\u043b\u043e\u0433\u043e\u0432\u043e\u0439 \u0441\u043b\u0443\u0436\u0431\u044b \u2116 9 \u043f\u043e \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438"},{"grnip":"415353700031585","date_zapis":"2015-02-11","vid_code":"23101","vid_name":"\u0412\u043d\u0435\u0441\u0435\u043d\u0438\u0435 \u0441\u0432\u0435\u0434\u0435\u043d\u0438\u0439 \u043e \u0432\u044b\u0434\u0430\u0447\u0435 \u043b\u0438\u0446\u0435\u043d\u0437\u0438\u0438","reg_organ_code":"3537","reg_organ_name":"\u041c\u0435\u0436\u0440\u0430\u0439\u043e\u043d\u043d\u0430\u044f \u0438\u043d\u0441\u043f\u0435\u043a\u0446\u0438\u044f \u0424\u0435\u0434\u0435\u0440\u0430\u043b\u044c\u043d\u043e\u0439 \u043d\u0430\u043b\u043e\u0433\u043e\u0432\u043e\u0439 \u0441\u043b\u0443\u0436\u0431\u044b \u2116 9 \u043f\u043e \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438"},{"grnip":"415352500091307","date_zapis":"2015-05-21","vid_code":"23801","vid_name":"\u0412\u043d\u0435\u0441\u0435\u043d\u0438\u0435 \u0441\u0432\u0435\u0434\u0435\u043d\u0438\u0439 \u043e\u0431 \u0438\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0438 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u043d\u044b\u0445 \u0434\u0430\u043d\u043d\u044b\u0445 \u0424\u041b (\u043f\u043e \u0434\u0430\u043d\u043d\u044b\u043c \u0424\u041c\u0421 \u0420\u043e\u0441\u0441\u0438\u0438)","reg_organ_code":"3525","reg_organ_name":"\u041c\u0435\u0436\u0440\u0430\u0439\u043e\u043d\u043d\u0430\u044f \u0438\u043d\u0441\u043f\u0435\u043a\u0446\u0438\u044f \u0424\u0435\u0434\u0435\u0440\u0430\u043b\u044c\u043d\u043e\u0439 \u043d\u0430\u043b\u043e\u0433\u043e\u0432\u043e\u0439 \u0441\u043b\u0443\u0436\u0431\u044b \u2116 11 \u043f\u043e \u0412\u043e\u043b\u043e\u0433\u043e\u0434\u0441\u043a\u043e\u0439 \u043e\u0431\u043b\u0430\u0441\u0442\u0438"}],"okveds":[{"grnip":"304353724000051","date_zapis":"2004-08-27","priznak":"2","priznak_name":"\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u0432\u0438\u0434 \u0434\u0435\u044f\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438","okved_code":"52.6"},{"grnip":"304353724000051","date_zapis":"2004-08-27","priznak":"1","priznak_name":"\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0432\u0438\u0434 \u0434\u0435\u044f\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438","okved_code":"52.4"}]}